body {
  font-family: sans-serif;
  background-color: rgb(34, 34, 116);
  color: white;
  margin: 0;
}

body * {
  padding: 1%;
  margin: 0;
}

nav {
  display: flex;
  gap: 16px;
}

.nav {
  background-color: navy;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  background-color: rgb(56, 56, 211);
  color: white;
  margin: .5%;
}

.nav a:hover {
  background-color: rgb(47, 47, 172);
}

h1 {
  background-color: navy;
}

h3 {
  background-color: cornflowerblue;
}

a {
  background-color: lightgrey;
  outline: solid black 1px;
  border-radius: 4px;
  padding: 1%;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

a:hover {
  background-color: rgb(160, 160, 160);
}

p {
  background-color: rgb(74, 74, 139);
  border-radius: 16px;
  outline: solid rgb(74, 74, 139) 1px;
}

.about-paragraphs-container {
  display: flex;
  gap: 16px;
  justify-content: space-evenly;
}